li {
    padding: 10px;
    margin: 5px;
    list-style: none;
    display: inline-block;
    font: bold 15px sans-serif;
}
*{
    padding:0;
    margin:0;
}

li:hover{
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

li:active {
    color: darkmagenta;
}
tr:hover{
    background-color: magenta;
}
body {
    background-color:rgb(194, 193, 193);
    background-attachment: fixed;
}
#left{
    float: left;
}
.Productss{
    display: inline-table;
    width: 230px;
    height: 170px;
    margin-bottom: 300px;
    margin-left: 100;
    margin-top: auto;
}
.rights{
    width: 1500px;
    height:10px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    bottom: 200px;
    padding-top: 70px;
background-color:rgb(202, 155, 225);
}
th:hover{
background-color: magenta;
}