{%load static%}
<html>
<head>
    <link rel="stylesheet"  href={%static 'lab1/css/about_us.css'%}/>
</head>
<body>
    <table>
        <tr>
            <td colspan="4" align="center"> <font color="black" face="tahoma" size="6">About US</font></td>
        </tr>
        <tr>
            <th class="text">Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology institute
            </th>
        </tr>
    </table>
    <table class="iti">
        <tr>
            <th><img style="height: 200px; width: 200px" src="{% static 'lab1/images/th.jpeg' %}" alt="Image"></th>
        </tr>
    </table>
    <table class="iti">
        <tr>
            <th><img style="height: 200px; width: 200px" src="{% static 'lab1/images/th (1).jpeg' %}" alt="Image"></th>
        </tr>
    </table>
    <table class="iti">
        <tr>
            <th><img style="height: 200px; width: 200px" src="{% static 'lab1/images/wzara.jpg' %}" alt="Image"></th>
        </tr>
    </table>
    <table class="rights">
        <tr>
            <th>All Right Reserved to ITI ©</th>
        </tr>
    </table>
</body>
</html>