{%load static%}
<html>
<head>
    <link rel="stylesheet"  href={%static 'lab1/css/contact_us.css'%}/>
</head>
<body>
    <a id="left" href="index.html"><img src="{% static 'lab1/images/home.png' %}" alt="Image"></a>
    <ul  align="right">
        <a href="{%url 'home'%}"><li>Products</li></a>
        <a href="{%url 'about_us'%}"><li>about Us</li></a>
        <li>Contact Us</li>
    </ul>
    <table>
        <tr>
            <td colspan="4" align="center"> <font color="black" face="tahoma" size="6">Contact US</font></td>
        </tr>
        <tr>
            <th class="text">Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology institute
                Information Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology instituteInformation Technology institute
            </th>
        </tr>
    </table>
    <table class="iti">
        <tr>
            <td align="center"><a href="tel:00201018649211"><font color="goldenrod" face="tahoma" size="4">☎️CALL US</font></a></td>
        </tr>
        <tr>
            <th>1(234)567-891,
                1(234)987-654
            </th>
        </tr>
    </table>
    <table class="iti" id="map">
        <tr>
            <td align="center"> <font color="goldenrod" face="tahoma" size="4"><img style="height: 20px; width: 20px" src="Images/ma.jpg">Location</font></td>
        </tr>
        <tr>
            <th>121 Rock Street,21
                Avenue,New York,
                NY 92103-9000
            </th>
        </tr>
    </table>
    <table class="iti" id="hours">
        <tr><td  align="center"> <font color="goldenrod" face="tahoma" size="4">🕐HOURS</font></td>
        </tr>
        <tr>
            <td><font size="5"><font>Mon-Fri.....11
                am-8pm,sat,
                Sun.....6am-8
                pm</font></b></td>
        </tr>
    </table>
    <table class="rights">
        <tr>
            <th>All Right Reserved to ITI ©</th>
        </tr>
    </table>
</body>
</html>